<fex-menu-root role="navigation" aria-label="Nested navigation" [class]="rootClassName">
  <fex-menu-list orientation="horizontal" [class]="horizontalListClassName">
    <button fexMenuItem value="home" [class]="horizontalItemClassName">Home</button>
    <div popoverRoot [trigger]="['hover', 'click']" side="bottom" align="start">
      <button
        fexMenuItem
        popoverTrigger
        value="products"
        [submenu]="true"
        aria-haspopup="menu"
        [class]="horizontalItemClassName"
      >
        <span>Products</span><fex-chevron-down-icon class="size-3.5 shrink-0" />
      </button>
      <ng-template popoverPortal
        ><fex-dropdown-content [class]="popupClassName"
          ><fex-menu-list
            orientation="vertical"
            parentValue="products"
            [class]="verticalListClassName"
          >
            <button fexMenuItem value="analytics" [class]="verticalItemClassName">Analytics</button>
            <div popoverRoot [trigger]="['hover', 'click']" side="right" align="start">
              <button
                fexMenuItem
                popoverTrigger
                value="platform"
                [submenu]="true"
                aria-haspopup="menu"
                [class]="verticalItemClassName"
              >
                <span class="flex-1 text-left">Platform</span
                ><fex-chevron-right-icon class="size-4" />
              </button>
              <ng-template popoverPortal
                ><fex-dropdown-content [class]="popupClassName"
                  ><fex-menu-list
                    orientation="vertical"
                    parentValue="platform"
                    [class]="verticalListClassName"
                    ><button fexMenuItem value="api" [class]="verticalItemClassName">API</button
                    ><button fexMenuItem value="automation" [class]="verticalItemClassName">
                      Automation</button
                    ><button fexMenuItem value="integrations" [class]="verticalItemClassName">
                      Integrations
                    </button></fex-menu-list
                  ></fex-dropdown-content
                ></ng-template>
            </div>
            <button fexMenuItem value="security" [class]="verticalItemClassName">Security</button>
          </fex-menu-list></fex-dropdown-content
        ></ng-template>
    </div>
    <button fexMenuItem value="pricing" [class]="horizontalItemClassName">Pricing</button>
  </fex-menu-list>
</fex-menu-root>
