<fex-card
  title="Alternate"
  description="Items automatically alternate around a centered vertical axis."
  ><fex-timeline align="alternate">
    @for (label of labels; track label; let index = $index) {
      <fex-timeline-item [status]="index < 3 ? 'completed' : 'current'"
        ><fex-timeline-opposite>Day {{ index + 1 }}</fex-timeline-opposite
        ><fex-timeline-indicator /><fex-timeline-content>{{
          label
        }}</fex-timeline-content></fex-timeline-item
      >
    }
  </fex-timeline></fex-card
>
