<fex-step value="account" data="Account"
  ><fex-step-indicator /><fex-step-content
    ><strong>Account</strong>
    <p class="text-muted-foreground">Create your workspace</p></fex-step-content
  ></fex-step
><fex-step
  value="profile"
  [disabled]="disabled()"
  [status]="error() ? 'error' : undefined"
  data="Profile"
  ><fex-step-indicator /><fex-step-content
    ><strong>Profile</strong>
    <p class="text-muted-foreground">Add personal details</p></fex-step-content
  ></fex-step
><fex-step value="review" data="Review"
  ><fex-step-indicator /><fex-step-content
    ><strong>Review</strong>
    <p class="text-muted-foreground">Confirm and submit</p></fex-step-content
  ></fex-step
>
