<fex-dropdown
  ><button fexDropdownTrigger [class]="triggerClassName">Actions</button
  ><fex-popover-portal
    ><fex-dropdown-content
      ><fex-menu-root
        ><fex-menu-list class="space-y-0.5"
          ><button fexMenuItem [class]="itemClassName">Edit</button
          ><button fexMenuItem [class]="itemClassName">Duplicate</button
          ><button fexMenuItem [class]="itemClassName">Archive</button></fex-menu-list
        ></fex-menu-root
      ></fex-dropdown-content
    ></fex-popover-portal
  ></fex-dropdown
>
