<fex-dropdown [trigger]="['hover']"
  ><button fexDropdownTrigger [class]="triggerClassName">File</button
  ><fex-popover-portal
    ><fex-dropdown-content
      ><fex-menu-root
        ><fex-menu-list class="space-y-0.5"
          ><button fexMenuItem [class]="itemClassName">New</button>
          <fex-popover [trigger]="['hover']" side="right" align="start" [sideOffset]="6">
            <button fexMenuItem fexPopoverTrigger [class]="itemClassName">
              Export <fex-chevron-right-icon class="size-4" />
            </button>
            <fex-popover-portal
              ><fex-dropdown-content
                ><fex-menu-root
                  ><fex-menu-list class="space-y-0.5"
                    ><button fexMenuItem [class]="itemClassName">PDF</button
                    ><button fexMenuItem [class]="itemClassName">Spreadsheet</button>
                    <fex-popover [trigger]="['hover']" side="right" align="start" [sideOffset]="6">
                      <button fexMenuItem fexPopoverTrigger [class]="itemClassName">
                        More formats <fex-chevron-right-icon class="size-4" />
                      </button>
                      <fex-popover-portal
                        ><fex-dropdown-content
                          ><fex-menu-root
                            ><fex-menu-list class="space-y-0.5"
                              ><button fexMenuItem [class]="itemClassName">CSV</button
                              ><button fexMenuItem [class]="itemClassName">
                                JSON
                              </button></fex-menu-list
                            ></fex-menu-root
                          ></fex-dropdown-content
                        ></fex-popover-portal
                      >
                    </fex-popover>
                  </fex-menu-list></fex-menu-root
                ></fex-dropdown-content
              ></fex-popover-portal
            >
          </fex-popover>
        </fex-menu-list></fex-menu-root
      ></fex-dropdown-content
    ></fex-popover-portal
  ></fex-dropdown
>
