<fex-dropdown [trigger]="['hover']"
  ><button fexDropdownTrigger [class]="triggerClassName">File</button
  ><ng-template popoverPortal
    ><fex-dropdown-content
      ><fex-menu-root
        ><fex-menu-list class="space-y-0.5"
          ><button fexMenuItem [class]="itemClassName">New</button>
          <div popoverRoot [trigger]="['hover']" side="right" align="start" [sideOffset]="6">
            <button fexMenuItem popoverTrigger [class]="itemClassName">
              Export <fex-chevron-right-icon class="size-4" />
            </button>
            <ng-template popoverPortal
              ><fex-dropdown-content
                ><fex-menu-root
                  ><fex-menu-list class="space-y-0.5"
                    ><button fexMenuItem [class]="itemClassName">PDF</button
                    ><button fexMenuItem [class]="itemClassName">Spreadsheet</button>
                    <div
                      popoverRoot
                      [trigger]="['hover']"
                      side="right"
                      align="start"
                      [sideOffset]="6"
                    >
                      <button fexMenuItem popoverTrigger [class]="itemClassName">
                        More formats <fex-chevron-right-icon class="size-4" />
                      </button>
                      <ng-template popoverPortal
                        ><fex-dropdown-content
                          ><fex-menu-root
                            ><fex-menu-list class="space-y-0.5"
                              ><button fexMenuItem [class]="itemClassName">CSV</button
                              ><button fexMenuItem [class]="itemClassName">
                                JSON
                              </button></fex-menu-list
                            ></fex-menu-root
                          ></fex-dropdown-content
                        ></ng-template
                      >
                    </div>
                  </fex-menu-list></fex-menu-root
                ></fex-dropdown-content
              ></ng-template
            >
          </div>
        </fex-menu-list></fex-menu-root
      ></fex-dropdown-content
    ></ng-template
  ></fex-dropdown
>
