<fex-card [title]="title" [description]="description"
  ><div class="max-w-xl">
    <fex-cascader
      [options]="options"
      [fieldNames]="fieldNames"
      [value]="value"
      [defaultValue]="defaultValue"
      [multiple]="multiple"
      [checkStrictly]="checkStrictly"
      [changeOnSelect]="changeOnSelect"
      [expandTrigger]="expandTrigger"
      [showSearch]="showSearch"
      [filterOption]="filterOption"
      [loadData]="loadData"
      [loading]="loading"
      [clearable]="true"
      placeholder="请选择地区"
      (change)="valueChange.emit($event.value)"
      ><fex-cascader-trigger /><fex-cascader-content><fex-cascader-panel /></fex-cascader-content
    ></fex-cascader></div
></fex-card>
