<div class="flex gap-2">
  <div tooltipRoot>
    <button button tooltipTrigger variant="outlined">Hover or focus</button
    ><ng-template tooltipPortal
      ><div tooltipContent>
        Helpful information
        <div tooltipArrow></div></div
    ></ng-template>
  </div>
  <div tooltipRoot>
    <button button tooltipTrigger variant="outlined">Save</button
    ><ng-template tooltipPortal
      ><div tooltipContent class="flex items-center gap-2">
        Save changes <kbd kbd>S</kbd>
        <div tooltipArrow></div></div
    ></ng-template>
  </div>
</div>
