<div class="flex gap-2">
  <div tooltipRoot>
    <button button tooltipTrigger variant="outlined">Custom color</button
    ><ng-template tooltipPortal
      ><div tooltipContent class="[--tooltip-background:#db2777] [--tooltip-foreground:white]">
        One variable colors both surfaces
        <div tooltipArrow></div></div
    ></ng-template>
  </div>
  <div tooltipRoot>
    <button button tooltipTrigger variant="outlined">Without arrow</button
    ><ng-template tooltipPortal><div tooltipContent>No TooltipArrow is rendered</div></ng-template>
  </div>
</div>
