<fex-breadcrumb class="p-1"
  ><fex-breadcrumb-list
    class="w-max items-center gap-0 rounded-full text-muted-foreground overflow-hidden"
    ><fex-breadcrumb-item class="group z-[3] -mr-4.5"
      ><a
        fexBreadcrumbLink
        class="inline-flex items-center gap-0.5 px-4 border border-border rounded-full bg-muted-background hover:bg-hover-background group-not-first:pl-6"
        routerLink="/"
        >Workspace</a
      ></fex-breadcrumb-item
    ><fex-breadcrumb-item class="group z-[2] -mr-4.5"
      ><a
        fexBreadcrumbLink
        class="inline-flex items-center gap-0.5 px-4 pl-6 border border-border rounded-full bg-muted-background hover:bg-hover-background"
        routerLink="/projects"
        >Projects</a
      ></fex-breadcrumb-item
    ><fex-breadcrumb-item class="group z-[1]"
      ><fex-breadcrumb-page
        class="inline-flex items-center gap-0.5 px-4 pl-6 border border-border rounded-full bg-muted-background hover:bg-hover-background"
        >Quarterly plan</fex-breadcrumb-page
      ></fex-breadcrumb-item
    ></fex-breadcrumb-list
  ></fex-breadcrumb
>
