<fex-breadcrumb
  ><fex-breadcrumb-list
    ><fex-breadcrumb-item><a fexBreadcrumbLink routerLink="/">Workspace</a></fex-breadcrumb-item
    ><fex-breadcrumb-separator>-&gt;</fex-breadcrumb-separator
    ><fex-breadcrumb-item
      ><a fexBreadcrumbLink routerLink="/projects">Projects</a></fex-breadcrumb-item
    ><fex-breadcrumb-separator>-&gt;</fex-breadcrumb-separator
    ><fex-breadcrumb-item
      ><fex-breadcrumb-page>Quarterly plan</fex-breadcrumb-page></fex-breadcrumb-item
    ></fex-breadcrumb-list
  ></fex-breadcrumb
>
