<fex-breadcrumb class="p-1"
  ><fex-breadcrumb-list class="w-max items-center gap-0 overflow-hidden"
    ><fex-breadcrumb-item
      ><a
        fexBreadcrumbLink
        class="inline-flex items-center gap-0.5 px-4 -mr-1.5 text-sm leading-[2.15] bg-muted-background hover:bg-hover-background parallelogram-breadcrumb"
        routerLink="/"
        >Workspace</a
      ></fex-breadcrumb-item
    ><fex-breadcrumb-item
      ><a
        fexBreadcrumbLink
        class="inline-flex items-center gap-0.5 px-4 -mr-1.5 text-sm leading-[2.15] bg-muted-background hover:bg-hover-background parallelogram-breadcrumb"
        routerLink="/projects"
        >Projects</a
      ></fex-breadcrumb-item
    ><fex-breadcrumb-item
      ><fex-breadcrumb-page
        class="inline-flex items-center gap-0.5 px-4 text-sm leading-[2.15] bg-muted-background hover:bg-hover-background parallelogram-breadcrumb"
        >Quarterly plan</fex-breadcrumb-page
      ></fex-breadcrumb-item
    ></fex-breadcrumb-list
  ></fex-breadcrumb
>
