<fex-breadcrumb class="p-1"
  ><fex-breadcrumb-list class="w-max items-center border border-border rounded-sm overflow-hidden"
    ><fex-breadcrumb-item
      ><a
        fexBreadcrumbLink
        class="inline-flex items-center gap-0.5 px-4 py-0.5 mr-[calc(-1*10px+-4px)] text-sm leading-[1.75] bg-muted-background hover:bg-hover-background ribbon-breadcrumb ribbon-breadcrumb-first"
        routerLink="/"
        >Workspace</a
      ></fex-breadcrumb-item
    ><fex-breadcrumb-item
      ><a
        fexBreadcrumbLink
        class="inline-flex items-center gap-0.5 px-4 py-0.5 mr-[calc(-1*10px+-4px)] text-sm leading-[1.75] bg-muted-background hover:bg-hover-background ribbon-breadcrumb"
        routerLink="/projects"
        >Projects</a
      ></fex-breadcrumb-item
    ><fex-breadcrumb-item
      ><fex-breadcrumb-page
        class="inline-flex items-center gap-0.5 px-4 py-0.5 text-sm leading-[1.75] bg-muted-background hover:bg-hover-background ribbon-breadcrumb-last"
        >Quarterly plan</fex-breadcrumb-page
      ></fex-breadcrumb-item
    ></fex-breadcrumb-list
  ></fex-breadcrumb
>
