<div card [title]="title" [description]="description">
  <div class="max-w-md">
    <fex-select
      [options]="options"
      [mode]="mode"
      [multiple]="multiple"
      [clearable]="clearable"
      [showSearch]="showSearch"
      [defaultValue]="defaultValue"
      [filterOption]="filterOption"
      [maxCount]="maxCount"
      [virtual]="virtual"
      ><fex-select-trigger
        [placeholder]="placeholder"
        [maxTagCount]="maxTagCount" /><fex-select-content><fex-select-list /></fex-select-content
    ></fex-select>
  </div>
</div>
