<fex-card
  title="分段输入规则"
  description="左侧仅接受 3 位字母并自动转为大写，右侧仅接受 4 位数字。"
  ><div fexInputOTPRoot>
    <div fexInputOTPGroup>
      <input
        fexInputOTPInput
        [index]="0"
        [maxLength]="3"
        class="w-16"
        [transform]="uppercase"
        [accept]="letters"
        aria-label="字母前缀"
      />
    </div>
    <span fexInputOTPSeparator>-</span>
    <div fexInputOTPGroup>
      <input
        fexInputOTPInput
        [index]="1"
        [maxLength]="4"
        class="w-20"
        inputmode="numeric"
        [accept]="digits"
        aria-label="数字后缀"
      />
    </div></div
></fex-card>
