<fex-card title="多字符分段" description="每段可设置不同最大长度，填满前保持当前焦点。"
  ><div fexInputOTPRoot>
    <div fexInputOTPGroup>
      <input
        fexInputOTPInput
        [index]="0"
        [maxLength]="3"
        class="w-16"
        aria-label="银行代码"
      /><input fexInputOTPInput [index]="1" [maxLength]="3" class="w-16" aria-label="分行代码" />
    </div>
    <span fexInputOTPSeparator>/</span>
    <div fexInputOTPGroup>
      <input
        fexInputOTPInput
        [index]="2"
        [maxLength]="4"
        class="w-20"
        aria-label="账户前缀"
      /><input fexInputOTPInput [index]="3" [maxLength]="4" class="w-20" aria-label="账户后缀" />
    </div></div
></fex-card>
